In [6]:
import pandas as pd

csv_df = pd.read_csv('Conexiones.csv')

csv_df.head()

,a,Bogotá,Choachí,Tunja,Puerto Carreño,Alejandría,Popayán,Armenia,Pasto,Leticia,...,Ciénaga,Socorro,Girón,Manizales,Rioacha,Buenaventura,Neiva,Armero,Itagüí,Santa Marta
0,Bogotá,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1,Choachí,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
2,Tunja,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3,Puerto Carreño,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
4,Alejandría,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [2]:
pip install geopy

Collecting geopy
  Using cached geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Using cached geographiclib-2.0-py3-none-any.whl.metadata (1.4 kB)
Using cached geopy-2.4.1-py3-none-any.whl (125 kB)
Using cached geographiclib-2.0-py3-none-any.whl (40 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
from geopy.geocoders import Nominatim
from geopy.distance import geodesic
geolocator = Nominatim(user_agent="geoapiExercises")
coordenadas = {}
for municipio in csv_df.iloc[:, 0]:
    location = geolocator.geocode(f"{municipio}, Colombia")
    if location:
        coordenadas[municipio] = (location.latitude, location.longitude)
    else:
        print(f"No se encontraron coordenadas para {municipio}")

NameError: name 'df' is not defined