In [6]:
import pandas as pd

csv_df = pd.read_csv('Conexiones.csv')

csv_df.head()

,a,Bogotá,Choachí,Tunja,Puerto Carreño,Alejandría,Popayán,Armenia,Pasto,Leticia,...,Ciénaga,Socorro,Girón,Manizales,Rioacha,Buenaventura,Neiva,Armero,Itagüí,Santa Marta
0,Bogotá,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1,Choachí,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
2,Tunja,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3,Puerto Carreño,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
4,Alejandría,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,NaN